.cus-header {
    -webkit-user-select: none;
    -webkit-app-region: drag;

    .site-page-header {
        -webkit-app-region: drag;

        .ant-input-group-addon {
            background-color: transparent;
        }

        .ant-input {
            outline: none;
        }

        .all-screen {
            flex: 1;
        }

        .my-font {
            font-size: 12px;
        }
    }

    .mySliderStyle {
        height: 50%;
    }

}

.ant-tooltip-inner {
    font-size: 12px;
    padding: 5px 7px;
}
// .menu-item {
//     color: #000;
// }