.recommend {
    overflow: hidden;

    .scroller-bar {
        overflow-y: hidden;
        overflow-x: hidden;
        max-height: 100%;
        padding-right: 10px;

        .ant-row {

            .ant-col-lg-6 {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
            }

            .ant-image-img {
                border-radius: 30px;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                cursor: not-allowed;
            }

            .ant-image-mask {
                border-radius: 30px;
            }
        }
    }

    .scroller-bar:hover {
        overflow-y: scroll;
        padding-right: 0px;
    }

    .scroller-bar::-webkit-scrollbar {
        width: 10px;
    }

    .scroller-bar::-webkit-scrollbar-thumb {
        background-color: rgba(42, 39, 39, 0.841);
        border-radius: 10px;
    }

}