@import '~antd/dist/antd.less';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.my-content {
  overflow-y: scroll;
  max-height: 300px;
  padding: 10px;
}
.main-content {
  // height: 680px;
  padding: 13px 15px;
  display: flex;
  flex-direction: column;
  .ant-tabs-tab-active .anticon svg {
    color: #00CED1;
  }
  .lay-header {
    height: 30px;
    line-height: 30px;
    padding: 0 0;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 10;
    width: 100%;
    left: 15px;
    top: 6px;
  }

}

.ant-layout {
  border-radius: 20px;
  padding-top: 30px;
}

.ant-tabs-tabpane {
  display: flex;
}

.webkit-no-drag {
  -webkit-app-region: no-drag;
  cursor: pointer;
}

.webkit-drag {
  -webkit-app-region: drag;
}

.anticon svg {
  color: #fff;
}

.ant-input-group-addon {
  .ant-input-search-button {
    border: 2px #EFEFEF solid;
    border-left: none;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
  }
}

.ant-layout-footer {
  padding: 0 30px;
  // background: rgba(46, 103, 156, 0.2);
}

// 预定义样式
.flex-align-mid {
  align-items: center;
}

.flex-align-self-start {
  align-items: flex-start;
}

.flex-justify-end {
  justify-content: flex-end;
}

.full {
  width: 100%;
}

.item-fixed {
  position: fixed;
}

.flex-type {
  display: flex;
}
.align-self-start {
  align-self: flex-start;
}
.flex-justify-start {
  justify-content: flex-start;
}

.flex-justify-evenly {
  justify-content: space-between;
}

.border-radius-5 {
  border-radius: 50%;
}

.padding-top5 {
  padding-top: 5px;
}

::-webkit-scrollbar {  /* 滚动条 */
  width: 10px;
}
// ::-webkit-scrollbar-track {
//   background-color: rgba(255, 255, 255, 0.2);
//   border-radius: 10px;
//  }
::-webkit-scrollbar-thumb {
  background-color: #11171a;
  border-radius: 10px;
 }
// ::-webkit-scrollbar-thumb:hover {
//   background: linear-gradient(transparent, #f2f4f5);
// }